/* line 1, /Users/martin/workspace/tornado-gallery/tgallery/static/stylesheet/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martin\/workspace\/tornado-gallery\/tgallery\/static\/stylesheet\/style\.less}line{font-family:\000031}}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 6, /Users/martin/workspace/tornado-gallery/tgallery/static/stylesheet/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martin\/workspace\/tornado-gallery\/tgallery\/static\/stylesheet\/style\.less}line{font-family:\000036}}
a {
  color: #00B7FF;
}
/* line 10, /Users/martin/workspace/tornado-gallery/tgallery/static/stylesheet/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/martin\/workspace\/tornado-gallery\/tgallery\/static\/stylesheet\/style\.less}line{font-family:\0000310}}
.nav,
.pagination,
.carousel a {
  cursor: pointer;
}
